
main {
    border: 2px solid green;    
    height: 500px;
}
.flex-container {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 2px dashed purple;
    width:500px;
}

.flex-container > div {
    border: 1px solid red;
    background-color:  pink;
    margin: 20px;
    font-size: 30px;
    color: blue;
    padding: 30px;
}